# Data Cleaning

In [1]:
%matplotlib inline

# data manipulation
import pandas as pd
import numpy as np

In [2]:
data = {'date': ['2015-01-01', '2015-02-01', '2015-03-01', '2015-04-01',
               '2015-05-01', '2015-06-01', '2015-07-01', '2015-08-01',
               '2015-09-01', '2015-10-01', '2015-11-01', '2015-12-01',
               '2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01',
               '2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'
                ],
        'sales': [154, 96, 73, 49, 36, 59, 95, 169, 210, 278, 298, 245,
                  200, 118, 90, 79, 78, 91, 167, 169, 289, 347, 375, 203,
                  223, 104, 107, 85, 75, 99, 135, 211, 335, 460, 488, 326,
                  346, 261, 224, 141, 148, 145, 223, 272, 445, 560, 612, 467,
                  518, 404, 300, 210, 196, 186, 247, 343, 464, 680, 711, 610,
                  613, 392, 273, 322, 189, 257, 324, 404, 677, 858, 895, 664,
                  628, 308, 324, 248, 272, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan
                 ]
       }

In [3]:
df = pd.DataFrame(data)
df.date = pd.to_datetime(df['date'])  # convert to datetime

In [4]:
df.head()

        date  sales
0 2015-01-01  154.0
1 2015-02-01   96.0
2 2015-03-01   73.0
3 2015-04-01   49.0
4 2015-05-01   36.0

In [5]:
df['year'] = pd.DatetimeIndex(df['date']).year
df['month'] = pd.DatetimeIndex(df['date']).month

In [6]:
df.to_csv('../data/ts_data.csv', index = False)